<mat-toolbar color="primary">
  <span>GridFS</span>
</mat-toolbar>

<div style="margin-left: .5rem">
  <mat-form-field appearance="standard">
    <mat-label>Filter</mat-label>
    <input matInput (keyup)="applyFilter($event)" #input>
  </mat-form-field>
</div>

<table mat-table [dataSource]="dataSource" class="mat-elevation-z1">

  <!--- Note that these columns can be defined in any order.
        The actual rendered columns are set as a property on the row definition" -->

  <!-- File Name -->
  <ng-container matColumnDef="filename">
    <th mat-header-cell *matHeaderCellDef>Name</th>
    <td mat-cell *matCellDef="let element"><a (click)="download(element.filename, element.uploadDate)">{{element.filename}}</a></td>
  </ng-container>

  <!-- File Type -->
  <ng-container matColumnDef="filetype">
    <th mat-header-cell *matHeaderCellDef>
      <mat-form-field style="margin-top: .5rem">
        <mat-select placeholder="Type" (selectionChange)="onSelect($event.value)">
          <div *ngFor="let item of mimeTypes | keyvalue">
            <mat-option [value]="item.value">{{ item.key }}</mat-option>
          </div>
        </mat-select>
      </mat-form-field>
    </th>
    <td mat-cell *matCellDef="let element"> {{element.mimeType}} </td>
  </ng-container>

    <!-- <ng-container  matColumnDef="tags">
      <th mat-header-cell style="padding-right: 2rem" *matHeaderCellDef>Tags</th>
      <td mat-cell style="padding-right: 2rem" *matCellDef="let element"> <div *ngFor="let tag of element.tags"></div><mat-chip>{{ tag }}</mat-chip></td>
    </ng-container> -->

    <ng-container matColumnDef="tags">
      <th mat-header-cell style="padding-right: 1rem" *matHeaderCellDef>Tags</th>
      <td mat-cell style="padding-right: 1rem" *matCellDef="let element">
          <ng-container *ngFor="let tag of element.tags | jsonparse">
              <mat-chip style="margin-right: .2rem">{{tag}}</mat-chip>
          </ng-container>
        </td>
  </ng-container>

    <!-- Version -->
    <ng-container matColumnDef="version">
      <th mat-header-cell style="padding-right: 2rem" *matHeaderCellDef>Version</th>
      <td mat-cell style="padding-right: 2rem" *matCellDef="let element"> {{ element.version }} </td>
    </ng-container>

    <ng-container matColumnDef="deleteButton">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let element"><button mat-icon-button color="accent"(click)="deleteFile(element)"><mat-icon>cancel</mat-icon></button></td>
    </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
<mat-card style="margin-top: 1rem">
<app-uploader></app-uploader>
<app-messages></app-messages>
</mat-card>
